<mat-card class="board" color="primary" [class.mat-elevation-z2]="true" [matBadge]="boardPrioritySum"  matBadgeSize="large">
                <button mat-icon-button color="warn" (click)="onDeleteBoard()" class="delete-button">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button (click)="onEditBoard()" class="edit-button">
                    <mat-icon>border_color</mat-icon>
                </button>
    <mat-card-header>
        <mat-card-title >
            {{ board.name }} ({{boardItemCount}})
        </mat-card-title>
    <mat-card-subtitle>{{board.description}}</mat-card-subtitle>
    <mat-card-subtitle>{{ board.dueTime | date:'dd-MM-YYYY HH:mm' }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    <div class="center">
        <button mat-fab color="accent" (click)="onAddToDoItem()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div *ngFor="let item of board.toDoItems">
        <app-to-do-item [item]="item" [boardId]="board.id!" (updatedToDoItem)="updateBoard($event)"></app-to-do-item>
    </div>
    </mat-card-content>
</mat-card >