<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/679a8015-3883-4291-9e9f-c2aa72f46388/resourceGroups/fptodo_group/providers/Microsoft.Web/sites/fptodo</ResourceId>
    <IsLinux>True</IsLinux>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fptodo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>176f7c3d-405c-4d9d-aaa1-d5b3aa42a978</ProjectGuid>
    <PublishUrl>https://fptodo.scm.azurewebsites.net/</PublishUrl>
    <UserName>$fptodo</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>