<div class="searchbar">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" [(ngModel)]="name" />
    </mat-form-field>

    <mat-form-field style="width: 400px;">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" [(ngModel)]="email" />
    </mat-form-field>

    <mat-form-field>
        <mat-label>Min Age</mat-label>
        <input matInput type="number" placeholder="Min Age" [(ngModel)]="minAge" />
    </mat-form-field>

    <mat-form-field>
        <mat-label>Max Age</mat-label>
        <input matInput type="number" placeholder="Max Age" [(ngModel)]="maxAge" />
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="filterUsers()">Filter</button>
    <button mat-raised-button (click)="clearFilters()">Clear Filters</button>
</div>
<mat-nav-list>
    <div container *ngFor="let user of users">
        <app-user [user]="user" (updateUser)="updateUsers()" ></app-user>
    </div>
    <button mat-fab extended color="primary" (click)="onAddUser()">
        <mat-icon>add</mat-icon>
        Dodaj osobę
    </button>
</mat-nav-list>