<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<system.web>
		<compilation debug="true" />
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="http://10.182.36.179:10000/DatabaseService" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="http://10.182.36.179:10000/DatabaseService" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
	<!-- W przypadku wdrażania projektu biblioteki usługi zawartość pliku konfiguracji należy dodać do pliku 
  app.config hosta. Element System.Configuration nie obsługuje plików konfiguracji bibliotek. -->
	<system.serviceModel>
		<services>
			<service name="WcfService.DatabaseService">
				<endpoint address="" binding="basicHttpBinding" contract="WcfService.IDatabaseService">
					<identity>
						<dns value="10.182.36.179" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://10.182.36.179:10000/DatabaseService/endpoint1" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- Aby zapobiec ujawnieniu informacji o metadanych, 
          ustaw dla poniższych elementów wartość false przed wdrożeniem -->
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
					<!-- Aby uzyskać szczegółowe informacje o wyjątku dotyczące błędów na potrzeby debugowania, 
          ustaw dla poniższego elementu wartość true. Ustaw wartość false przed wdrożeniem, 
          aby zapobiec ujawnieniu informacji o wyjątku -->
					<serviceDebug includeExceptionDetailInFaults="False" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
