mat-sidenav-container {
    height: 100%;
}

mat-sidenav {
    width: auto;
    background-color: #fff5d7;
}

mat-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}