<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDatabaseService" sendTimeout="00:00:03" />
                <binding name="BasicHttpBinding_IDatabaseService1" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IDatabaseService" sendTimeout="00:00:03">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
		<client>
      <endpoint address="http://10.182.36.179:10000/DatabaseService/endpoint1"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDatabaseService"
          contract="WcfService.IDatabaseService" name="BasicHttpBinding_IDatabaseService" />
      <endpoint address="http://10.182.36.179:10000/DatabaseService/endpoint1"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDatabaseService1"
          contract="WcfService.IDatabaseService" name="BasicHttpBinding_IDatabaseService1" />
      <endpoint address="http://10.182.36.179:10000/DatabaseService/endpoint2"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDatabaseService"
          contract="WcfService.IDatabaseService" name="WSHttpBinding_IDatabaseService" />
  </client>
    </system.serviceModel>
</configuration>