<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- W przypadku wdrażania projektu biblioteki usługi zawartość pliku konfiguracji należy dodać do pliku 
  app.config hosta. Element System.Configuration nie obsługuje plików konfiguracji bibliotek. -->
  <system.serviceModel>
    <services>
      <service name="WcfService.MyCalculator">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8733/Design_Time_Addresses/WcfService/Service1/" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Jeśli adres nie jest w pełni kwalifikowany, jest określany względem adresu podstawowego podanego powyżej -->
        <endpoint address="" binding="basicHttpBinding" contract="WcfService.ICalculator">
          <!-- 
              Po wdrożeniu należy usunąć lub zamienić następujący element tożsamości, aby odzwierciedlał 
              tożsamość, której używa wdrożona usługa. W przypadku usunięcia elementu usługa WCF automatycznie wywnioskuje odpowiednią 
              tożsamość.
          -->
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- Punkt końcowy wymiany metadanych jest używany przez usługę w celu opisania siebie klientom. --> 
        <!-- Ten punkt końcowy nie używa bezpiecznego powiązania i powinien zostać zabezpieczony lub usunięty przed wdrożeniem -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Aby zapobiec ujawnieniu informacji o metadanych, 
          ustaw dla poniższych elementów wartość false przed wdrożeniem -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- Aby uzyskać szczegółowe informacje o wyjątku dotyczące błędów na potrzeby debugowania, 
          ustaw dla poniższego elementu wartość true. Ustaw wartość false przed wdrożeniem, 
          aby zapobiec ujawnieniu informacji o wyjątku -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
